
-- LEFT JOIN retorna todos da tabela da esquerda e somente os correspondentes na tabela da direita
-- RIGHT JOIN  retorna todos da tabela da direita e somente os correspondentes na tabela da esquerda
SELECT * FROM
[TABELA DE CLIENTES] INNER JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF

SELECT * FROM [TABELA DE CLIENTES]

SELECT [TABELA DE CLIENTES].[NOME], COUNT(*) FROM 
[TABELA DE CLIENTES] INNER JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF
GROUP BY [TABELA DE CLIENTES].[NOME]

SELECT [TABELA DE CLIENTES].[NOME], COUNT(*) FROM 
[TABELA DE CLIENTES] LEFT JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF
GROUP BY [TABELA DE CLIENTES].[NOME]

SELECT [TABELA DE CLIENTES].[CPF], [TABELA DE CLIENTES].[NOME], COUNT(*) AS [VENDAS POR CLIENTE] FROM 
[TABELA DE CLIENTES] LEFT JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF
GROUP BY  [TABELA DE CLIENTES].[CPF], [TABELA DE CLIENTES].[NOME]

 -- No left join acima, esse cpf tem o count = 1, mesmo ele nao tendo vendas. 
 -- Isso acontece, porque como foi usado o GROUP BY,  ele tem uma linha assim de dados,
 -- que é o nome do cliente e do lado o NULL. Mas na hora de fazer o COUNT, esse cara conta como uma ocorrência.

SELECT * FROM [NOTAS FISCAIS] WHERE CPF = '95939180787' 


SELECT [TABELA DE CLIENTES].[NOME], [NOTAS FISCAIS].[MATRICULA] FROM 
[TABELA DE CLIENTES] LEFT JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF

SELECT DISTINCT [TABELA DE CLIENTES].[NOME], [NOTAS FISCAIS].[MATRICULA] FROM 
[TABELA DE CLIENTES] LEFT JOIN [NOTAS FISCAIS] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF


SELECT DISTINCT [TABELA DE CLIENTES].[NOME], [NOTAS FISCAIS].[MATRICULA] FROM 
[NOTAS FISCAIS] RIGHT JOIN  [TABELA DE CLIENTES] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF

SELECT DISTINCT * FROM 
[NOTAS FISCAIS] RIGHT JOIN  [TABELA DE CLIENTES] 
ON [TABELA DE CLIENTES].CPF = [NOTAS FISCAIS].CPF